/* static/style.css */
.navbar-menu .navbar-item.is-active {
    background-color: #b3e5fc; /* 薄い水色 */
    color: #333; /* テキストの色 */
}

.navbar-menu .navbar-item:hover {
    background-color: #b3e5fc; /* マウスオーバー時の背景色 */
}

.custom-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}

.phishmonitor-logo .title {
    font-family: 'Arial', sans-serif; /* お好みのフォントに変更 */
    color: #007BFF; /* お好みのカラーに変更 */
    font-size: 2.5rem; /* サイズ調整 */
    text-align: center; /* 中央揃え */
    margin-bottom: 20px; /* 下部の余白 */
}
