<!--dashboard.html-->
{% extends "base.html" %}

{% block page_content %}
<section class="section">
    <div class="container">
        <input type="hidden" id="csrf_token" value="{{ csrf_token() }}">
        <!-- Flashメッセージ表示領域 -->
        <!-- {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="flash-messages" class="notification is-info">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %} -->

        <div id="flash-messages-container"></div>

        <div class="tabs is-centered is-boxed">
            <ul>
                <li class="{{ 'is-active' if active_tab == 'monitor' else '' }}"><a href="{{ url_for('main.dashboard', active_tab='monitor') }}">フィッシングサイト監視</a></li>
                <li class="{{ 'is-active' if active_tab == 'search' else '' }}"><a href="{{ url_for('main.dashboard', active_tab='search') }}">ドメイン検索</a></li>
            </ul>
        </div>


        {% if active_tab == 'monitor' %}
            <!-- フィッシングサイト監視機能のコンテンツ -->
            <div>
                <h2 class="subtitle">監視リスト</h2>
                <table id="table-0" class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th class="has-text-centered">#</th>
                            <th class="has-text-centered">ドメイン</th>
                            <th class="has-text-centered">取得日</th>
                            <th class="has-text-centered">サーバ起動 (ping)</th>
                            <th class="has-text-centered">Webページ起動 (curl)</th>
                            <th class="has-text-centered">確認時刻</th>
                            <th class="has-text-centered">操作</th>
                            <th class="has-text-centered">更新</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for nrd in monitored_nrds %}
                        <tr id="row-{{ nrd.id }}" >
                            <td class="has-text-centered">{{ loop.index }}</td>
                            <td>{{ nrd.domain_name }}</td>
                            <td class="has-text-centered">{{ nrd.registration_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                            <td id="pingStatus-{{ nrd.id }}" class="has-text-centered">
                                <span class="icon {% if nrd.ping_status %}has-text-success{% else %}has-text-danger{% endif %}">
                                    <i class="{% if nrd.ping_status %}fas fa-check-circle{% else %}fas fa-times-circle{% endif %}"></i>
                                </span>
                            </td>
                            <td id="curlStatus-{{ nrd.id }}" class="has-text-centered">
                                <span class="icon {% if nrd.curl_status %}has-text-success{% else %}has-text-danger{% endif %}">
                                    <i class="{% if nrd.curl_status %}fas fa-check-circle{% else %}fas fa-times-circle{% endif %}"></i>
                                </span>
                            </td>
                            
                            
                            <td id="lastChecked-{{ nrd.id }}" class="has-text-centered">
                                {% if nrd.last_checked %}
                                  {{ nrd.last_checked.strftime('%Y-%m-%d %H:%M:%S') }}
                                {% else %}
                                  None
                                {% endif %}
                              </td>
                            <td class="has-text-centered">
                                <form id="removeForm-{{ nrd.id }}" onsubmit="return false;">
                                    <input type="hidden" name="nrd_id" value="{{ nrd.id }}">
                                    <button type="button" class="button is-small is-danger" onclick="removeFromWatchlist('{{ nrd.id }}')">監視対象除外</button>
                                </form>
                            </td>
                            <td class="has-text-centered">
                                <button id="updateBtn-{{ nrd.id }}" onclick="updateStatus('{{ nrd.id }}')" class="button is-small is-info">更新</button>
                                <span id="loading-{{ nrd.id }}" class="icon is-hidden">
                                    <i class="fas fa-spinner fa-spin"></i>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="add-domain-form">
                    <h2 class="subtitle">直接ドメインを追加する</h2>
                    <form id="addDomainForm" onsubmit="return false;">
                        <input type="text" name="domain_name" placeholder="ドメイン名を入力">
                        <button type="button" class="button is-primary" onclick="addDomain()">ドメイン追加</button>
                    </form>
                    
                </div>
            </div>
            <div>
                {% if monitored_nrds %}
                    <!-- none -->
                {% else %}
                    <p style="margin-top: 20px;"><a href="{{ url_for('main.dashboard', active_tab='search') }}">ドメイン検索</a>してください。</p>
                {% endif %}
            </div>
        {% elif active_tab == 'search' %}
            <!-- 検索＆登録機能のコンテンツ -->
            <div>
                <!-- キーワード検索フォーム -->
                <form action="{{ url_for('main.dashboard', active_tab='search') }}" method="post" class="field has-addons has-addons-centered">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">  
                    <p class="control">
                        {% if last_search_keyword %}
                        <input class="input" type="text" id="keyword" name="keyword" placeholder="example.co.jp" required value="{{ last_search_keyword }}">
                        {% else %}
                        <input class="input" type="text" id="keyword" name="keyword" placeholder="example.co.jp" required>
                        {% endif %}
                    </p>
                    <p class="control">
                        <button class="button is-info" type="submit">検索</button>
                    </p>
                </form>

                <!-- 検索結果リスト -->
                <div id="search-results">
                    {% if search_results %}
                        <h2 class="subtitle">「{{ last_search_keyword }}」の検索結果</h2>
                        <table class="table is-fullwidth">
                            <thead>
                                <tr>
                                    <th class="has-text-centered">#</th>
                                    <th class="has-text-centered">ドメイン</th>
                                    <th class="has-text-centered">取得日</th>
                                    <th class="has-text-centered">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for nrd in search_results %}
                                <tr>
                                    <td class="has-text-centered">{{ loop.index }}</td>
                                    <td>{{ nrd.domain_name }}</td>
                                    <td class="has-text-centered">{{ nrd.registration_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                                    <td class="has-text-centered">
                                        {% if nrd.id in watched_nrd_ids %}
                                        <form id="removeForm-{{ nrd.id }}" onsubmit="return false;">
                                            <input type="hidden" name="nrd_id" value="{{ nrd.id }}">
                                            <button type="button" class="button is-small is-danger" onclick="removeFromWatchlistSearch('{{ nrd.id }}')">監視対象除外</button>
                                        </form>
                                        {% else %}
                                        <form id="addToWatchlistForm-{{ nrd.id }}" onsubmit="return false;">
                                            <input type="hidden" name="nrd_id" value="{{ nrd.id }}">
                                            <button type="button" class="button is-small is-primary" onclick="addToWatchlistSearch('{{ nrd.id }}')">監視対象追加</button>
                                        </form>                                        
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}                          
                            </tbody>
                        </table>
                        {% else %}
                            <p>ドメインが見つかりませんでした。</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
