{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <!-- Flashメッセージ表示領域 -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-info">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        <div class="tabs is-centered is-boxed">
            <ul>
                <li class="{{ 'is-active' if active_tab == 'monitor' else '' }}"><a href="{{ url_for('main.dashboard', active_tab='monitor') }}">NRD監視</a></li>
                <li class="{{ 'is-active' if active_tab == 'search' else '' }}"><a href="{{ url_for('main.dashboard', active_tab='search') }}">NRD検索＆登録</a></li>
            </ul>
        </div>

        {% if active_tab == 'monitor' %}
            <!-- NRD監視機能のコンテンツ -->
            <div>
                <h2 class="subtitle">監視リスト</h2>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ドメイン</th>
                            <th>WHOIS登録日</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for nrd in monitored_nrds %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ nrd.domain_name }}</td>
                            <td>{{ nrd.registration_date }}</td>
                            <td>
                                <form action="{{ url_for('main.remove_from_watchlist') }}" method="post" onsubmit="return confirmRemoval();">
                                    <input type="hidden" name="nrd_id" value="{{ nrd.id }}">
                                    <input type="hidden" name="active_tab" value="{{ active_tab }}">
                                    <input type="hidden" name="keyword" value="{{ request.args.get('keyword', '') }}">
                                    <button type="submit" class="button is-small is-danger">監視対象除外</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                {% if monitored_nrds %}
                    <!-- none -->
                {% else %}
                    <p><a href="{{ url_for('main.dashboard', active_tab='search') }}">NRD検索＆登録</a>してください。</p>
                {% endif %}
            </div>
        {% elif active_tab == 'search' %}
            <!-- NRD検索＆登録機能のコンテンツ -->
            <div>
                <!-- キーワード検索フォーム -->
                <form action="{{ url_for('main.dashboard', active_tab='search') }}" method="post" class="field has-addons has-addons-centered">
                    <p class="control">
                        {% if last_search_keyword %}
                        <input class="input" type="text" id="keyword" name="keyword" placeholder="キーワードでNRD検索" required value="{{ last_search_keyword }}">
                        {% else %}
                        <input class="input" type="text" id="keyword" name="keyword" placeholder="キーワードでNRD検索" required>
                        {% endif %}
                    </p>
                    <p class="control">
                        <button class="button is-info" type="submit">検索</button>
                    </p>
                </form>

                <!-- 検索結果リスト -->
                <div id="search-results">
                    {% if search_results %}
                        <h2 class="subtitle">検索結果</h2>
                        <table class="table is-fullwidth">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>ドメイン</th>
                                    <th>WHOIS登録日</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for nrd in search_results %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ nrd.domain_name }}</td>
                                    <td>{{ nrd.registration_date }}</td>
                                    <td>
                                        {% if nrd.id in watched_nrd_ids %}
                                        <form action="{{ url_for('main.remove_from_watchlist') }}" method="post" style="display: inline;" onsubmit="return confirmRemoval();">
                                            <input type="hidden" name="nrd_id" value="{{ nrd.id }}">
                                            <input type="hidden" name="keyword" value="{{ request.args.get('keyword', '') }}">
                                            <input type="hidden" name="active_tab" value="{{ active_tab }}">
                                            <button type="submit" class="button is-small is-danger">監視対象除外</button>
                                        </form>
                                        {% else %}
                                            <form action="{{ url_for('main.add_to_watchlist') }}" method="post">
                                                <input type="hidden" name="nrd_id" value="{{ nrd.id }}">
                                                <input type="hidden" name="keyword" value="{{ request.args.get('keyword', '') }}">
                                                <button type="submit" class="button is-small is-primary">監視対象追加</button>
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}                          
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
