{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8-tablet is-6-desktop is-4-widescreen is-3-fullhd">
                <!-- 認証ページへのリンク -->
                <p style="white-space: nowrap;">サービスを使用する前に<a href="/auth/login">ログイン</a>してください。</p>

                <!-- 検索フォーム -->
                <form action="{{ url_for('main.search_results') }}" method="get" class="field has-addons has-addons-centered">
                    <p class="control">
                        <input class="input" type="text" id="keyword" name="keyword" placeholder="キーワードを入力" required>
                    </p>
                    <p class="control">
                        <button class="button is-info" type="submit">検索</button>
                    </p>
                </form>

                {% if current_user.is_authenticated and current_user.is_admin %}
                    <!-- NRDダウンロードボタン -->
                    <button id="downloadNrd" class="button is-primary">NRDダウンロード</button>

                    <!-- DB格納ボタン -->
                    <button id="storeDb" class="button is-primary">DB格納</button>
                {% endif %}

                <div id="results"></div>
                <div id="loading" style="display: none;">処理中...</div>

                <!-- NRDデータのリスト -->
                {% if searched %}
                    <h1 class="title">NRDデータ!!</h1>
                    <ul>
                        {% for nrd in nrds %}
                            <li>{{ nrd.domain_name }} - {{ nrd.registration_date }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/script.js"></script>
{% endblock %}
